.search-icon {
    background: url("https://cdn1.iconfinder.com/data/icons/flat-web-browser/100/search-512.png");
    background-size: 17px;
    background-repeat: no-repeat;
    
}

body {
    font-family: Arial, sans-serif;
    font-size: small;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;  
}

nav {
    width: 100%;
    display: flex;
    padding: 5px;
}

nav div {
    width: 50%;
    display: flex;
    align-items: center;
    
}

nav div:nth-child(1) {
    justify-content: start;
}

nav div:nth-child(2) {
    justify-content: flex-end;
   
}

.apps {
    background: url("https://static.thenounproject.com/png/756729-200.png");
    height: 15px;
    width: 15px;
    background-size: cover;
}

.user {
    background: url("https://www.freepngimg.com/download/google/66726-customer-account-google-service-button-search-logo.png");
    background-size: cover;
    height: 18px;
    width: 18px;
}

nav div a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#searchbar {
    margin: 20px;
    width: 80vw;
    max-width: 520px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(211, 208, 208); 
    padding: 0 40px;
}

.search-icon {
    position: absolute;
    padding: 11px 11px;
    filter: contrast(0);
    
    margin: 33px 30px;
}

#searchbar:hover, #searchbar:focus {
    box-shadow: 0px 3px 5px rgb(238, 238, 238), 0px -1.5px 5px rgb(238, 238, 238);
    /* outline: none; */
    outline: none;
}

.info, .infotwo {
    visibility: hidden;
    width: 90px;
    background-color: rgb(121, 121, 121);
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;
    position: fixed;
    top: 60px;
    right: 35px;
    z-index: 1;
}

.apps:hover .info{
    visibility: visible;
    transition-delay: 0.5s;
}

.user:hover .infotwo {
    visibility: visible;
    transition-delay: 0.5s;
    text-align: left;
    position: fixed;
    right: 5px;
    padding-left: 5px;
    width: 20vw;
}